<div class="container">
  <div style="padding: 10px" class="row" *ngFor="let item of cartItems">
    <div class="col">
      <div class="row">
        <div class="col col-2">
          <p-avatar
            [image]="item.item.image"
            styleClass="mr-2"
            size="large"
          ></p-avatar>
        </div>
        <div class="col col-6 text-left">
          <h5>{{ item.item.title }}</h5>

          <h6>{{ item.item.categorty }}</h6>
        </div>

        <div class="col col-3">
          <p-inputNumber
            class="p-inputnumber-sm"
            [(ngModel)]="item.quantity"
            [size]="1"
            mode="decimal"
            [showButtons]="true"
            inputId="minmax-buttons"
            [min]="1"
            [max]="100"
          >
          </p-inputNumber>
        </div>
        <div class="col col-1 mx-auto">
          <p-confirmPopup></p-confirmPopup>
          <button
            style="font-size: 0.6rem"
            (click)="confirmDlete($event, item.item)"
            type="button"
            class="btn btn-danger"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
